<app-header [title]="title" ></app-header>
<app-navigation [urls]="urls" (urlChange)="urlSelected($event)"></app-navigation>
<app-main>

  <div [ngSwitch]="urlActive" >

    <app-products
      (addCart)="addProductCart($event)"
      [products]="products"
      *ngSwitchCase="'Inicio'" >
    </app-products>
    <div *ngSwitchCase="'Nosotros'">

      <table class="table table-sm table-bordered">
        <thead>
        <tr>
          <th>Producto</th>
          <th>Price</th>
          <th>Cantidad</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of cart">
          <td>{{ item.name }}</td>
          <td>{{ item.price }}</td>
          <td>1</td>
        </tr>
        </tbody>
      </table>

    </div>
    <div *ngSwitchDefault> Pagina no encontrada </div>

  </div>

</app-main>
<app-footer></app-footer>
