

<div class="row">

  <div class="col-sm-4" *ngFor="let product of products">
    <app-product
      [product]="product"
      (addCart)="addCartHanlder($event)" >
    </app-product>
  </div>

</div>
