<div class="card" style="width: 12rem;">
  <img class="card-img-top" [src]="product.img" [alt]="product.name">
  <div class="card-body">
    <h5 class="card-title">{{ product.name }}</h5>
    <!--
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    -->
    <button class="btn btn-primary" (click)="addCartHanlder()">
      S/. {{ product.price }}
    </button>
  </div>
</div>
