<aside>
  <nav>
    <ul>
      <li *ngFor="let url of urls" >
        <a href="javascript:void(0)" (click)="clickHandler(url)">
          {{ url }}
        </a>
      </li>
    </ul>
  </nav>
</aside>
